<div class="header">
  <div class="header_grid">
    <div class="logo">
      <a routerLink="">
        <img src="../../../assets/svg/logo.svg"
          alt="Namastreta"
          class="logo-img"
        />
      </a>

      <div class="icons">

        <button routerLink="/Produtos" class="products-link" >
          <img src="../../../assets/icons/cart-icon.png" style="width:25px;height:25px;"/>Produtos
        </button>

        <img src="../../../assets/icons/login-icon.png"
          class="login"
          (click)="LoginIsVisible()"
        />


        <img src="../../../assets/icons/bag-icon.png"
          class="icon"
          (click)="CartIsVisible()"
        />
      </div>

    </div>

  </div>
</div>
<hr/>

<div class="login"
*ngIf="this.globalFunctionsService.loginVisible"
>
<login-flutter></login-flutter>
</div>

<div class="cart"
*ngIf="this.globalFunctionsService.cartVisible"
>
<cart></cart>
</div>
