<div class="products-filter">
  <div class="products-filter_filters">
    <label>Filtrar por</label>
    <ul>
      <li>
        <a routerLink="">Masculino</a>
        <hr/>
      </li>
      <li>
        <a>Feminino</a>
        <hr/>
      </li>
      <li>
        <a>Unissex</a>
        <hr/>
      </li>
    </ul>

    <label>Ordernar por</label>
    <ul>
      <li>
        <a>Maior preço</a>
        <hr/>
      </li>
      <li>
        <a>Menor preço</a>
        <hr/>
      </li>
      <li>
        <a>mais relevante</a>
        <hr/>
      </li>
    </ul>
  </div>
</div>
